/* 공통 스타일 */
* {
<<<<<<< HEAD
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Noto Sans KR", "sans-serif";
  }
  
  button {
    border: none;
    outline: none;
    background-color: transparent;
    padding: 0;
    cursor: pointer;
  }
  
  body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 100vw;
    min-height: 100vh;
  }
  
  
  
  header, .logo, .community, .mypage, .kakao-login {
    font-family: inherit;
    letter-spacing: 0.6px;
    text-align: center;
    color: rgba(112, 112, 112, 255);
    cursor: pointer;
  }
  
  .App-header {
    padding-top: 20px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    background: linear-gradient(to bottom, rgba(197, 233, 255, 1), rgba(197, 233, 255, 0.0));
    height: 400px;
  }
  
  .header-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 1920px;
    margin: 0 auto;
    
  }
  
  .logo-section {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow-x: auto;
    white-space: nowrap;
  }
  
  .logo, .community, .mypage, .kakao-login {
    font-size: 14px;
    margin-top: 8px;
    transition: color 0.3s;
  }
  
  .logo {
    font-size: 25px;
    letter-spacing: 0.5px;
    position: fixed;
  }
  
  .community {
    margin-left: 1418px;
  }
  
  .mypage, .kakao-login {
    margin-left: 47px;
  }
  
  .community:hover, .mypage:hover, .kakao-login:hover {
    color: rgba(50, 50, 50, 255); 
  }
  
  .container {
    margin-top: -280px;
    position: relative;
    z-index: 2;
    padding-top: 220px;
  }
  
  .search-bar-container {
    display: flex;
    justify-content: center;
  
    padding-top: 20px;
    width: 100%;
   
  }
  
  .search-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 450px;
    height: 50px;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 1);
    padding: 0 30px;
    box-shadow: 0px 2px 2px #00000029;
  }
  
  .search-input {
    font-size: 16px;
    letter-spacing: 0.4px;
    color: rgba(62, 62, 62, 0.5);
    text-align: left;
    flex-grow: 1;
    border: none;
    outline: none;
    background: none;
  }
  
  .search-input::placeholder {
    color: rgba(62, 62, 62, 0.5);
  }
  
  .search-input:focus,
  .search-input.focused {
    color: black;
  }
  
  .search-icon {
    width: 20px;
    height: 20px;
    background-color: #7e7e7e;
    opacity: 0.5;
  }
  
  .recommendation {
    display: flex;
    justify-content: center;
  }
  
  .recommendation-bar-container {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    width: 100%;
    cursor: pointer;
  }
  
  .recommendation-title {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 18px;
    letter-spacing: 0.6px;
    color: rgba(126, 126, 126, 1);
    margin-left: 10px;
  }
  
  .location-tags {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  
  .location-tag {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70px;
    height: 30px;
    background: #FFFFFF;
    border-radius: 16px;
    opacity: 0.7;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 15px;
    letter-spacing: 0.6px;
    color: rgba(126, 126, 126, 1);
    margin-left: 10px;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  
  .main-content {
    width: 100%; /* 전체 너비 사용 */
    max-width: 1300px; /* 최대 너비 설정 */
    margin: auto auto 20px; /* 상단 여백, 자동 중앙 정렬, 하단 여백 */
    padding: 20px; /* 내부 여백 */
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* 왼쪽 정렬 */
    position: relative; /* 자식 요소의 절대 위치를 기준으로 설정 */
    background-color: #f9f9f900; /* 배경색 설정 */
  }
  
  .main-content {
    z-index: 10;
    width: 1500px;
    position: relative;
    margin-top: 20px;
    cursor: pointer;
  }
  
  .latest-popular {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding: 15px 40px 15px 15px;
  
  }
  
  .latest, .popular {
    padding: 10px;
  }
  
  .cards {
    z-index: 20;
    display: flex;
    flex-wrap: wrap; /* 카드들을 여러 줄에 걸쳐 배치 */
    gap: 60px; /* 카드들 사이의 간격을 60px로 설정 */
    max-width: calc(3 * 362px + 2 * 60px); /* 3개의 카드와 2개의 간격을 고려한 최대 너비 */
    width: 100%; /* 전체 너비를 카드와 간격에 맞게 조정 */
    box-sizing: border-box; /* padding과 border를 너비에 포함시킴 */
    justify-content: flex-start
  }
  
  /* 카드 스타일 */
  .card {
    background-color: rgba(255, 255, 255, 1);
    border-radius: 20px;
    width: 362px; /* 카드의 너비 */
    height: 374px; /* 카드의 높이 */
    padding: 20px; /* 카드의 내부 여백 */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    box-sizing: border-box; /* padding과 border를 너비에 포함시킴 */
    box-shadow: 0px 3px 6px #00000029;
  }
  
  /* 카드의 헤더, 제목, 설명 등의 스타일 */
  .card-header {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  
  .profile-image {
    width: 30px;
    height: 30px;
    border-radius: 15px;
    border: 1px solid rgba(112, 112, 112, 1);
  }
  
  
  
  .card-title {
    font-size: 14px;
    letter-spacing: 0.5px;
    color: rgba(112, 112, 112, 1);
    margin-left: 8px;
  }
  
  .card-description {
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0.8px;
    color: rgba(126, 126, 126, 1);
    margin-top: 10px;
  }
  
  .card-image {
    width: 315px;
    height: 205px;
    border-radius: 10px;
    margin-top: 10px;
  }
  
  .card-footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: auto; /* 카드 내용과 하단 바의 여백 */
    flex-wrap: wrap
    
  }
  
  .scrap-image {
    width: 15px;
    height: 17px;
    margin-right: 10px;
  
  }
  
  .scrap-count {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 12px;
    letter-spacing: 0.5px;
    color: rgba(112, 112, 112, 1);
  }
  
  .hashtags {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap; /* 해시태그가 여러 줄에 걸쳐 배치될 수 있도록 설정 */
    margin-top: 10px;
  }
  
  .hashtag {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 12px;
    letter-spacing: 0.5px;
    color: rgba(112, 112, 112, 0.7);
    margin-right: 8px;
  }
  
=======
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Noto Sans KR", "sans-serif";
}

button {
  border: none;
  outline: none;
  background-color: transparent;
  padding: 0;
  cursor: pointer;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 100vw;
  min-height: 100vh;
}



header, .logo, .community, .mypage, .kakao-login {
  font-family: inherit;
  letter-spacing: 0.6px;
  text-align: center;
  color: rgba(112, 112, 112, 255);
  cursor: pointer;
}

.App-header {
  padding-top: 20px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  background: linear-gradient(to bottom, rgba(197, 233, 255, 1), rgba(197, 233, 255, 0.0));
  height: 400px;
}

.header-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
  
}

.logo-section {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  overflow-x: auto;
  white-space: nowrap;
}

.logo, .community, .mypage, .kakao-login {
  font-size: 14px;
  margin-top: 8px;
  transition: color 0.3s;
}

.logo {
  font-size: 25px;
  letter-spacing: 0.5px;
  position: fixed;
}

.community {
  margin-left: 1418px;
}

.mypage, .kakao-login {
  margin-left: 47px;
}

.community:hover, .mypage:hover, .kakao-login:hover {
  color: rgba(50, 50, 50, 255); 
}

.container {
  margin-top: -280px;
  position: relative;
  z-index: 2;
  padding-top: 220px;
}

.search-bar-container {
  display: flex;
  justify-content: center;

  padding-top: 20px;
  width: 100%;
 
}

.search-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 450px;
  height: 50px;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 1);
  padding: 0 30px;
  box-shadow: 0px 2px 2px #00000029;
}

.search-input {
  font-size: 16px;
  letter-spacing: 0.4px;
  color: rgba(62, 62, 62, 0.5);
  text-align: left;
  flex-grow: 1;
  border: none;
  outline: none;
  background: none;
}

.search-input::placeholder {
  color: rgba(62, 62, 62, 0.5);
}

.search-input:focus,
.search-input.focused {
  color: black;
}

.search-icon {
  width: 20px;
  height: 20px;
  background-color: #7e7e7e;
  opacity: 0.5;
}

.recommendation {
  display: flex;
  justify-content: center;
}

.recommendation-bar-container {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  width: 100%;
  cursor: pointer;
}

.recommendation-title {
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 18px;
  letter-spacing: 0.6px;
  color: rgba(126, 126, 126, 1);
  margin-left: 10px;
}

.location-tags {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.location-tag {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 70px;
  height: 30px;
  background: #FFFFFF;
  border-radius: 16px;
  opacity: 0.7;
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 15px;
  letter-spacing: 0.6px;
  color: rgba(126, 126, 126, 1);
  margin-left: 10px;
  text-align: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}


.main-content {
  width: 100%; /* 전체 너비 사용 */
  max-width: 1300px; /* 최대 너비 설정 */
  margin: auto auto 20px; /* 상단 여백, 자동 중앙 정렬, 하단 여백 */
  padding: 20px; /* 내부 여백 */
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* 왼쪽 정렬 */
  position: relative; /* 자식 요소의 절대 위치를 기준으로 설정 */
  background-color: #f9f9f900; /* 배경색 설정 */
}

.main-content {
  z-index: 10;
  width: 1500px;
  position: relative;
  margin-top: 20px;
  cursor: pointer;
}

.latest-popular {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  padding: 15px 40px 15px 15px;

}

.latest, .popular {
  padding: 10px;
}

.cards {
  z-index: 20;
  display: flex;
  flex-wrap: wrap; /* 카드들을 여러 줄에 걸쳐 배치 */
  gap: 60px; /* 카드들 사이의 간격을 60px로 설정 */
  max-width: calc(3 * 362px + 2 * 60px); /* 3개의 카드와 2개의 간격을 고려한 최대 너비 */
  width: 100%; /* 전체 너비를 카드와 간격에 맞게 조정 */
  box-sizing: border-box; /* padding과 border를 너비에 포함시킴 */
  justify-content: flex-start
}

/* 카드 스타일 */
.card {
  background-color: rgba(255, 255, 255, 1);
  border-radius: 20px;
  width: 362px; /* 카드의 너비 */
  height: 374px; /* 카드의 높이 */
  padding: 20px; /* 카드의 내부 여백 */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  box-sizing: border-box; /* padding과 border를 너비에 포함시킴 */
  box-shadow: 0px 3px 6px #00000029;
}

/* 카드의 헤더, 제목, 설명 등의 스타일 */
.card-header {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.profile-image {
  width: 30px;
  height: 30px;
  border-radius: 15px;
  border: 1px solid rgba(112, 112, 112, 1);
}



.card-title {
  font-size: 14px;
  letter-spacing: 0.5px;
  color: rgba(112, 112, 112, 1);
  margin-left: 8px;
}

.card-description {
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0.8px;
  color: rgba(126, 126, 126, 1);
  margin-top: 10px;
}

.card-image {
  width: 315px;
  height: 205px;
  border-radius: 10px;
  margin-top: 10px;
}

.card-footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: auto; /* 카드 내용과 하단 바의 여백 */
  flex-wrap: wrap
  
}

.scrap-image {
  width: 15px;
  height: 17px;
  margin-right: 10px;

}

.scrap-count {
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 12px;
  letter-spacing: 0.5px;
  color: rgba(112, 112, 112, 1);
}

.hashtags {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap; /* 해시태그가 여러 줄에 걸쳐 배치될 수 있도록 설정 */
  margin-top: 10px;
}

.hashtag {
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 12px;
  letter-spacing: 0.5px;
  color: rgba(112, 112, 112, 0.7);
  margin-right: 8px;
}

>>>>>>> dca6423ed7f3735c806106b1f123d084a0c0ee4d
