@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@500&display=swap');

.App {
  text-align: center;
}

* { 
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Pretendard-Regular";
}

/*logo, step, mebubar */
.top{
  display: flex;
  margin-bottom: 23%;
  justify-content: space-between;
  align-items: center;
}

/*logo*/
.top .logo{
  margin-left: -12%;
  text-align: center;
  font-family: "Noto Sans KR", sans-serif; 
  font-size: 25px;
  font-weight: 545;
  font-style: normal;
  letter-spacing: 0.63px;
  color: #707070;
  opacity: 1;
}

/*step1, step2, step3, car, step bar*/
.top .top-center{
  display: block;
  margin-right: 7%;
}

/*step1, step2, step3*/
.top .top-center .step{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/*step1*/
.top .top-center .step .step1{
  width: 50px;
  height: 20px;
  margin-right: 40px;
  text-align: center;
  font-family: "Noto Sans KR", sans-serif;
  letter-spacing: 2.1px;
  color: #3E3E3E;
  opacity: 0.5;
}

/*step2*/
.top .top-center .step .step2{
  width: 50px;
  height: 20px;
  text-align: center;
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 600;
  font-style: medium;
  letter-spacing: 2.1px;
  color: #3E3E3E;
  opacity: 1;
}

/*step3*/
.top .top-center .step .step3{
  width: 50px;
  height: 20px;
  margin-left: 40px;
  text-align: center;
  font-family: "Noto Sans KR", sans-serif;
  letter-spacing: 2.1px;
  color: #3E3E3E;
  opacity: 0.5;
}

/*현재 진행한 stepbar*/
.top .top-center .bar .step-line{
  position: relative;
  top: 5px;
  width: 90%;
  margin-left: -40px;
  border: 3px solid #5E5E5E;
  opacity: 1;
}

/*전체 진행 stepbar*/
.top .top-center .bar .all-line{
  border: 3px solid #7E7E7E;
  width: 140%;
  margin-left: -40px;
  opacity: 0.4;
}

/*menubar*/
.top .menu-bar{
  margin-right: -9.7%;
}

button{
  border: none;
  outline: none;
  background-color: transparent;
  padding: 0;
  cursor: pointer;
}

body{
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 160vh;
  min-height: 100vh;
}

/*캘린더 전체 */
.cal{
  display: block;
  width: 940px;
  height: 516px;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  box-shadow: 0px 2px 5px #0000000D;
  border: 1px solid #0000000D;
  border-radius: 8px;
  opacity: 1;
}

/*두개의 달력 표현*/
.cal .calendar{
  display: flex;
}

/*한 개의 달력 전체*/
.wrapper{
  width: 450px;
  background: #fff;
  border-radius: 10px;
  padding: 25px;
}

/* 년 월, < > 버튼*/
.wrapper .nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;
}

/*첫 번째 달력의 년 월*/
.wrapper .nav .curr-date{
  margin-right:150px;
  text-align: center;
  font-family: "Noto Sans KR", sans-serif;
  font-size: 20px;
  font-weight: 900;
  letter-spacing: 0px;
  color: #1D2634;
  opacity: 1;
}

/*두 번째 달력의 년 월*/
.wrapper .nav .curr-date1{
  margin-left:150px;
  text-align: center;
  font-family: "Noto Sans KR", sans-serif;
  font-size: 20px;
  font-weight: 900;
  letter-spacing: 0px;
  color: #1D2634;
  opacity: 1;
}

/* < > 버튼*/
.wrapper .nav button{
  width: 38px;
  height: 38px;
  font-size: 30px;
  color: #707070;
  border: none;
  outline: none;
  background-color: transparent;
  padding: 0;
  cursor: pointer;
}

/*달력 속 요일 전체 및 일 전체*/
.month ul{
  display: flex;
  list-style: none;
  flex-wrap: wrap;
  text-align: center;
}

/*달력 속 요일*/
.month .weeks li{
  font-weight: 500;
  margin-top: 10px;
  margin-bottom: 10px;
}

/*달력 속 모든 ul, li 태그*/
.month ul li {
  width: calc(100% / 7);
  font-family: "Noto Sans KR", sans-serif;
  position: relative;
  color: #707070;
  height: 40px; /* 모든 li 요소의 높이를 동일하게 설정 */
  line-height: 40px; /* 모든 li 요소의 높이를 동일하게 설정 */
}

/*달력 속 각 일*/
.month .days li{
  z-index: 1;
  margin-top: 10px;
  cursor: pointer;
  color: #707070;
}

/*달력 시작 일 전 일들 및 달력 끝나고 남은 일들*/
.days li.inactive {
  color: #c6c4c4;
}

/*달력 시작 일 전 일들 및 달력 끝나고 남은 일들 호버 시*/
.days li.inactive:hover::before{
  background: #fff;
}

/*달력의 전체 일*/
.month .days li::before {
  position: absolute;
  content: '';
  height: 40px; /* 모든 li 요소의 높이를 동일하게 설정 */
  width: 40px; /* 모든 li 요소의 높이를 동일하게 설정 */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  z-index: -1;
}

/*달력 일에 호버 시나오는 색상*/
.days li:hover::before {
  background: #C5E9FF;
  width: 58px; /* 호버 시의 넓이 */
  height: 40px; /* 호버 시의 높이 */
  border-radius: 10px; /* 호버 시의 모서리 곡률 */
}

/*처음 선택한 날짜 및 두번째 선택한 날짜*/
.days li.sel-start-end {
  background-color: #C5E9FF;
  width: calc(100% / 7); /* 선택된 날짜의 넓이 */
  height: 40px; /* 선택된 날짜의 높이 */
  line-height: 40px; /* 선택된 날짜의 줄 높이 */
  border-radius: 10px; /* 선택된 날짜의 모서리 곡률 */
}

/*처음 선택한 날짜와 두 번째 선택한 날짜 사이*/
.days li.sel-range {
  background-color: #E2F4FF;
  width: calc(100% / 7); /* 선택된 날짜의 넓이 */
  height: 40px; /* 선택된 날짜의 높이 */
  line-height: 40px; /* 선택된 날짜의 줄 높이 */
  border-radius: 10px; /* 선택된 날짜의 모서리 곡률 */
}


/*전체 캘린더에서 달력 아래에 나오는 선*/
.cal .line{
  border: 1px solid #EEEEEE;
  width: 98%;
  opacity: 1;
  margin-left: 1%;
  margin-top: 10px;
}

/*선택 된 일들 및 선택 버튼*/
.cal .correct{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/*선택 된 날짜 들*/
.cal .trip-date{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: "Noto Sans KR", sans-serif;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 0.45px;
  color: #707070;
  opacity: 1;
  margin-top: 15px;
  margin-left: 35px;
}

/*선택 버튼*/
.cal .correct .select{
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Noto Sans KR", sans-serif;
  font-size: 20px;
  color: #3E3E3E;
  border: 0px;
  border-radius: 5px;
  width: 119px;
  height: 48px;
  background-color: #C5E9FF;
  margin-right:20px;
  margin-top: 14px;
}

/*두 개의 날짜를 선택하기 전 선택 버튼 상태*/
.cal .correct .select:disabled {
  background-color: #C5E9FF;
  opacity: 0.5;

}

/*이전 버튼 및 다음 버튼*/
.last{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/*이전 버튼 전체*/
.last .prev{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 218px;
  height: 58px;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  box-shadow: 0px 2px 2px #00000029;
  border: 1px solid #70707033;
  border-radius: 35px;
  opacity: 1;
  margin-left: -53%;
  margin-top: 11%;
}

/*이전 버튼*/
.last .prev .prev-button{
  margin-right: 30px;
  width: 72px;
  height: 26px;
  text-align: left;
  font-family: "Noto Sans KR", sans-serif;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 0.54px;
  color: #5E5E5E;
  opacity: 1;
}

/*다음 버튼*/
.last .next{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 218px;
  height: 58px;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  box-shadow: 0px 2px 2px #00000029;
  border: 1px solid #70707033;
  border-radius: 35px;
  opacity: 1; 
  margin-right: -53%;
  margin-top: 11%;
}

/*선택 버튼 누르기 전 상태*/
.last .next:disabled {
  color: #5E5E5E;
  opacity: 0.5;
}

/*다음 버튼*/
.last .next .next-button{
  margin-left: 30px;
  width: 72px;
  height: 26px;
  text-align: left;
  font-family: "Noto Sans KR", sans-serif;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 0.54px;
  color: #5E5E5E;
  opacity: 1;
}